@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

/* bootsrap icon  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
}

header {
    height: 100vh;
    background-image: url(../images/background/photo-1541746972996-4e0b0f43e02a.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-contant {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-contant>h4 {
    font-size: 29px;
    color: #ffffff;
    font-weight: 400;
}

.hero-contant>h1 {
    font-size: 128px;
    color: #ffffff;
    font-weight: 700;
}

.shakkhat {
    color: transparent;
    position: relative;
}

.container {
    max-width: 1640px !important;
    margin: 0 auto;
    padding: 0 20px;
}

/*======= navbar start ====== */
.navbar .megamenu {
    padding: 1rem;
}

.nav-item>a {
    color: #ffffff !important;
    font-size: 1.25rem;
    margin-right: 1rem;
}

.list-unstyled>li>a {
    color: black !important;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.list-unstyled>li {
    width: 260px;
    height: 96px;
    overflow: hidden;
    padding: 10px;
    margin: 15px;
}

.language {
    width: 2.2rem;
    height: 2.2rem;
}

.dropdown-item:active {
    background-color: rgb(189, 209, 167) !important;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

/* ============ mobile view .end// ============ */


/*======= navbar end ====== */


/* ============ responsive view ============ */
@media(max-width: 1366px) {
    .container {
        max-width: 1200px !important;
        margin: 0 auto;
        padding: 0 30px;
    }

    .hero-contant>h4 {
        font-size: 1.4rem;
        color: #ffffff;
        font-weight: 400;
    }

    .hero-contant>h1 {
        font-size: 90px;
        color: #ffffff;
        font-weight: 600;
    }

    .navbar .megamenu {
        padding: 0.5rem;
    }

    .nav-item>a {
        color: #ffffff !important;
        font-size: 1rem;
        margin-right: 0.7rem;
    }

    .list-unstyled>li>a {
        color: black !important;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        margin-left: 0.4rem;
    }

    .list-unstyled>li {
        width: 250px;
        height: 90px;
        overflow: hidden;
        padding: 0.5rem;
        margin: 0.75rem;
    }

    .navbar-brand>img {
        width: 190px;
        padding-top: 10px;
    }
}

@media(max-width: 991px) {
    .hero-contant {
        justify-content: start;
    }

    .hero-contant>h4 {
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 400;
    }

    .hero-contant>h1 {
        font-size: 90px;
        color: #ffffff;
        font-weight: 600;
    }

    .navbar-brand>img {
        width: 200px;
    }
}

@media(max-width: 991px) {
    .hero-contant {
        justify-content: start;
    }

    .hero-contant>h4 {
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 400;
    }

    .hero-contant>h1 {
        font-size: 90px;
        color: #ffffff;
        font-weight: 600;
    }

    .navbar-brand>img {
        width: 200px;
    }
}

/* ============ responsive view .end// ============ */

.shakkhat::before {
    content: 'Shakkhat';
    position: absolute;
    top: 18px;
    left: 0;
    color: #8A3FFC;
    animation: typing 3s ease-in-out infinite;
}


.dropdown-item {
    color: #333333 !important;
}

.features-section {
    background-color: #F5F5F5;
    height: 18rem;
    display: flex;
    align-items: center;

}

.feature {
    text-align: center;
    font-size: 1.3rem;
}

@keyframes typing {
    0% {
        content: '|';
    }

    8% {
        content: 'S|';
    }

    16% {
        content: 'Sh|';
    }

    24% {
        content: 'Sha|';
    }

    32% {
        content: 'Shak|';
    }

    40% {
        content: 'Shakk|';
    }

    48% {
        content: 'Shakkh|';
    }

    56% {
        content: 'Shakkha|';
    }

    64% {
        content: 'Shakkhat|';
    }

    72%,
    80% {
        content: 'Shakkhat|';
    }

    82% {
        content: 'Shakkha|';
    }

    84% {
        content: 'Shakkh|';
    }

    86% {
        content: 'Shakk|';
    }

    88% {
        content: 'Shak|';
    }

    90% {
        content: 'Sha|';
    }

    92% {
        content: 'Sh|';
    }

    96% {
        content: 'S|';
    }

    98% {
        content: '|';
    }

    100% {
        content: '|';
    }

}

.companies {
    background-image: linear-gradient(90deg, #5A26A9, #AB7CF2);
    padding: 50px 0;

}

/* slick slider start  */
.slick-perv {
    position: absolute;
    top: 3rem;
    left: 0;
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
}

.slick-next {
    position: absolute;
    top: 3rem;
    right: 0;
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
}

/* slick slider end  */
/* .companies {
    height: 253px;
} */

.company-content {
    height: 18.4rem;
}

.company-content p {
    /* color: #ffffff; */
    font-size: 1.3rem;
}

.services {
    background-image: linear-gradient(90deg, #5A26A9, #AB7CF2);
    height: 1630px;
}

.top-service,
.bottom-service {
    height: 50%;
}

.top-service img {
    background-color: #ffffff;
    border-radius: 20px;
}

.bottom-service img {
    background-color: #ffffff;
    border-radius: 20px;
}

.service-text h1 {
    font-size: 3.8rem;
    color: #ffffff;
    font-weight: 700;
}

.service-text p {
    font-size: 1.4rem;
    color: #ffffff;
    margin: 20px 0;
}

.bottom-left {
    text-align: end;
}

.service-btn {
    color: #001141;
    padding: 10px 30px;
    font-size: 1.4rem;
    border-radius: 10px;
}

.service-btn:hover {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
}

/* top services  */
.carousel-logo {
    margin: 120px auto;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.my-slick-parent {
    height: 549px;
    display: flex;
    align-items: center;
}

.offer {
    overflow: visible;
}

.my-slick-content {
    width: 260px !important;
    height: 297px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.company-logo {
    width: 10rem !important;
    height: 8rem;
    display: flex !important;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: #FFFFFF;
    /* border-radius: 50%; */
}

.my-slick-content>p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.8rem;
}

.special-offer {
    margin: 120px auto;
    background-image: linear-gradient(90deg, #5A26A9, #AB7CF2);
    border-radius: 20px;
    overflow: auto;
}

.special-offer>.text-center>h1 {
    font-size: 3.5rem;
}

.special-offer>.text-center>h4 {
    font-size: 1.4rem;
}

.testimonial {
    background-image: linear-gradient(90deg, #5A26A9, #AB7CF2);
    height: 900px;
    display: flex;
    align-items: center;
}

.customers-say {
    background-color: #FFFFFF;
    /* text-align: center; */
    height: 500px;
    border-radius: 20px;
}

.main-heading>h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.main-heading>p {
    font-size: 1.4rem;
}

.comment-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* search box css  */

.bbbootstrap {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
}

.bbbootstrap form {
    position: relative;
    width: 985px;
    /* margin: 22px auto 0; */
}

/* resposnsive bbbootstrap form start */
@media screen and (max-width: 576px) {
    .container {
        max-width: 550px !important;
        margin: 0 auto;
        padding: 0 30px;
    }

    .hero-contant {
        overflow-x: hidden;
    }

    .shakkhat::before {
        overflow-x: hidden;
    }

    .bbbootstrap form {
        width: 300px;
    }

    .hero-contant>h4 {
        font-size: 1.2rem;
    }

    .hero-contant>h1 {
        font-size: 3rem;
        font-weight: 600;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .container {
        max-width: 900px !important;
        margin: 0 auto;
        padding: 0 40px;
    }

    .bbbootstrap form {
        width: 500px;
    }

    .hero-contant>h4 {
        font-size: 1.6rem;
    }

    .hero-contant>h1 {
        font-size: 6rem;
        font-weight: 700;
    }
}

/* resposnsive bbbootstrap form end */

span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


.bbbootstrap form input[type="text"] {
    padding: 15px 20px;
    padding-right: 100px;
    border-color: transparent;
    border-radius: 4px;
}

input.InputBox {
    /* font-family: "lucida grande", "Lucida Sans Unicode", tahoma, sans-serif; */
    color: #333;
    font-size: 15px;
    padding: 3px;
    margin: 0;
    width: 250px;
    background: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.4);
}


input[type=text] {
    box-sizing: border-box;
}

.InputBox {
    display: block;
    width: 100% !important;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 22px;
    border-radius: 4px;
}

.bbbootstrap form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    padding: 10px 25px;
}

body .Button,
body .button {
    background-color: #1268b3;
    background-image: none;
}


/* input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
} */

.Button,
.Button:hover,
.Button:focus,
.Button:active {
    text-shadow: none;
    border-color: transparent;
}

.Button {
    display: inline-block;
    padding: 6px 12px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    /* text-transform: uppercase; */
    border: transparent solid 1px;
    border-radius: 3px;
    -webkit-transition: -webkit-box-shadow 50ms;
    transition: -webkit-box-shadow 50ms;
    -o-transition: box-shadow 50ms;
    transition: box-shadow 50ms;
    transition: box-shadow 50ms, -webkit-box-shadow 50ms;
    -webkit-font-smoothing: inherit;
    color: #fff;
    background-color: #2e9df7;
    background-repeat: repeat-x;
    background-color: #38a2f7;
    background-image: -webkit-linear-gradient(#38a2f7, #2498f7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#38a2f7), to(#2498f7));
    background-image: -o-linear-gradient(#38a2f7, #2498f7);
    background-image: linear-gradient(#38a2f7, #2498f7);
}

/* footer section  */
.footer-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-logos img {
    margin-right: 15px;
}

.footer-menu ul {
    list-style: none;
    font-size: 1.2em;
    color: #697077;
}

.footer-menu ul>li {
    margin: 20px 0;
}

.btn-dark {
    background-color: #622EB0 !important;
}

.bottom-footer {
    background-color: #622EB0;
}

.term-conditions {
    display: flex;
    height: 80px;
}

.term-conditions>p {
    flex: 3;
    display: flex;
    align-items: center;
}

.term-conditions>div {
    flex: 9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}