* {
    margin: 0;
    padding: 0;
}

<section class="our-services d-flex justify-content-evenly align-items-center"><div class="service"><img src="./assets/images/landing-page-icon/transaction.svg" alt=""><p>Book anywhere</p></div><div class="service"><img src="./assets/images/landing-page-icon/alarm-clock.svg" alt=""><p>Book anywhere</p></div><div class="service"><img src="./assets/images/landing-page-icon/booking.svg" alt=""><p>Book anywhere</p></div><div class="service"><img src="./assets/images/landing-page-icon/folder.svg" alt=""><p>Book anywhere</p></div><div class="service"><img src="./assets/images/landing-page-icon/id.svg" alt=""><p>Book anywhere</p></div><div class="service"><img src="./assets/images/landing-page-icon/message.svg" alt=""><p>Book anywhere</p></div></section>.nav-item a {
    color: #ffffff !important;
    font-size: 20px;
    margin-right: 16px;
}

.dropdown-item {
    color: #333333 !important;
}

.our-services {
    background-color: #F5F5F5;
    height: 18rem;
}

.service {
    text-align: center;
    font-size: 1.3rem;
}