@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

/* bootsrap icon  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #8A3FFC;
    --primary-font-color: #001141;
    --secondary-font-color: #697077;
    --bg-linear-gradient-one: #5A26A9;
    --bg-linear-gradient-two: #AB7CF2;
    position: relative;
}

.previous-page {
    top: 1rem;
    left: 1rem;
}

body {
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
}

.headline>h3 {
    color: var(--primary-font-color);
    font-size: 1.875rem;
    font-weight: 700;
}

.right-side {
    background-image: url(../images/background/photo-1541746972996-4e0b0f43e02a.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.individual-text>h5,
.business-text>h5 {
    color: var(--primary-font-color);
    font-size: 1.5rem;
}

.individual-text>p,
.business-text>p {
    color: var(--secondary-font-color);
    font-size: 1.125rem;
}

.individuals,
.business {
    border-radius: 1.4rem;
}

.individuals:hover,
.business:hover {
    background-color: #F2F2F2;
    border-color: #D3D3D3;
}

.country-name>span {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-font-color);
}

.support-us>h5 {
    font-size: 1.125rem;
    color: var(--primary-font-color);
}

@media screen and (max-width:1919.98px) {
    .headline {
        font-size: 1.57rem;
    }

    .individual-text>h5,
    .business-text>h5 {
        font-size: 1.35rem;
    }

    .individual-text>p,
    .business-text>p {
        font-size: 1rem;
    }

    .country-name>span {
        font-size: 1.1rem;
    }

    .support-us>h5 {
        font-size: 1rem;
    }
}

@media screen and (max-width:1399.98px) {
    .headline {
        font-size: 1.47rem;
    }

    .individual-text>h5,
    .business-text>h5 {
        font-size: 1.25rem;
    }

    .individual-text>p,
    .business-text>p {
        font-size: 0.9rem;
    }

    .country-name>span {
        font-size: 1rem;
    }

    .support-us>h5 {
        font-size: 1rem;
    }
}